<div class="main__container">

  <div class="container__register">

    <h5>New here? Register now</h5>
    <form class="registering_forms">
      <label for="name">Your name</label>
      <input type="text" placeholder="example: fulano" id="name" class="mb-3 px-2 w-75">

      <label for="email">Your e-mail</label>
      <input type="text" placeholder="example@email.com" id="email" class="mb-4 px-2 w-75">

      <label for="password">Create a Password</label>
      <input type="password" placeholder="password" id="password" class="mb-3 px-2 w-75">

      <label for="password-confirmation">Your password again</label>
      <input type="password" placeholder="password confirmation" id="password-confirmation"  class="mb-5 px-2 w-75">

      <button class="btn btn-md">Register Me</button>
    </form>

  </div>

  <h5 class="mx-4">or</h5>

  <div class="container__login">

    <h5>Login</h5>
    <form class="login_forms">
      <label for="login-email">Your e-mail</label>
      <input type="text" placeholder="e-mail" id="login-email" class="mb-3 px-2 w-75">

      <label for="login-password">Your password</label>
      <input type="password" placeholder="password" id="login-password" class="mb-5 px-2 w-75">

      <button class="btn btn-md">Sign in</button>
    </form>

  </div>

</div>
