<div class="header__container">
  <div class="logo__container">
    <h1>
      <i class="fas fa-regular fa-bag-shopping"></i>
      SHOPPING
    </h1>
  </div>

  <div class="menu__container">
    <ul>
      <li>
        <a href="#">
          Categories <i class="fas fa-regular fa-caret-down"></i>
        </a>
      </li>
      <li>
        <a href="#">Deals</a>
      </li>
      <li>
        <a href="#">What's new</a>
      </li>
      <li>
        <a href="#">Delivery</a>
      </li>
    </ul>
  </div>

  <div class="search_account_cart__container">
    <div class="search_bar">
      <input type="text" placeholder="Search Product">
      <button class="search_button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </div>

    <div class="account_and_cart">
      <ul>
        <li>
          <a href="#" style="margin-right: 35px;">
            <i class="fa-regular fa-user"></i>
            Account
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-cart-shopping"></i>
            Cart
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
