<div class="header__container">
  <div class="logo__container" [routerLink]="['']">
    <i class="fas fa-regular fa-bag-shopping"></i>
    <h2 style="margin-top: 5px;">
      SHOPPING
    </h2>
  </div>

  <div class="collapse navbar-collapse menu__container">

    <ul class="mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['']">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Electronics</a>
          <div class="dropdown-divider mx-2"></div>
          <a class="dropdown-item" href="#">Outfit</a>
          <div class="dropdown-divider mx-2"></div>
          <a class="dropdown-item" href="#">Nerd products</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#">What's new</a>
      </li>

      <li class="nav-item">
        <a class="nav-link disabled" href="#">Contact</a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0 search_bar">
      <input type="text" placeholder="Search Product">
      <button class="search_button">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>

    <div class="account_and_cart">
      <ul>
        <li>
          <a [routerLink]="['account']" style="margin-right: 30px;">
            <i class="fa-regular fa-user"></i>
            Account
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa-solid fa-cart-shopping"></i>
            Cart
          </a>
        </li>
      </ul>
    </div>

  </div>
</div>
