/* Container raiz */
.header__container {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;

  width: 1280px;
  margin: auto;
  margin-bottom: 40px;
  padding: 15px 0px 15px 20px;
  border-bottom: 1px solid #dfdfdf;
}

/* Container da Logo */
.logo__container, .logo__container:hover {
  margin-right: 60px;
  width: 238px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__container > i {
  font-size: 32px;
  margin-bottom: 5px;
  margin-right: 5px;
}

/* Container do Menu */
.menu__container {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.menu__container > ul {
  display: flex;
  text-align: center;
  margin-right: 40px;
}

.menu__container > ul > li {
  margin-right: 35px;
}

/* Dropdown Style */
.dropdown-menu {
  border: none;
}

.dropdown-item {
  color: #06358B;
}

/* Barra de Pesquisa */
.search_bar {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.search_bar > input {
  border: none;
  border-radius: 20px 0px 0px 20px;
  height: 40px;
  width: 290px;
  padding-left: 20px;
  background-color: #e4e4e4;
}

.search_button {
  border: none;
  border-radius: 0px 20px 20px 0px;
  height: 40px;
  font-size: 14px;
  padding-right: 20px;
  background-color: #e4e4e4;
}

.search_button > i {
  color: gray;
}

.search_button > i:hover {
  color: #565656;
}

/* Conta e Carrinho */
.account_and_cart {
  width: 165px;
}
