<div class="product-card__container">

  <div class="product__image">
    <img src="{{ image }}" alt="imagem do produto" routerLink="product">
  </div>

  <div class="product__description">
    <div class="product__name_price">
      <span class="name" routerLink="product">{{ name }}</span>
      <span class="price">{{ price }}</span>
    </div>

    <p>{{ description }}</p>

    <div class="rating-stars">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <span>(138)</span>
    </div>

  </div>

  <button class="btn">Add to Cart</button>

</div>
