<div class="product__container">

  <div class="product_images">
    <img src="../../../assets/img/headphone.png" alt="">

    <div class="other_images">
      <img src="../../../assets/img/headphone_blue.png" alt="" width="100px" height="100px">
      <img src="../../../assets/img/headphone_brown.png" alt="" width="100px" height="100px">
      <img src="../../../assets/img/headphone_blue.png" alt="" width="100px" height="100px" style="margin-right: 0px;">
    </div>
  </div>

  <div class="product_description">
    <h3>Wireless Headphone, XYZ</h3>
    <p>a perfect high-fidelity audio for each daily songs that you like</p>

    <div class="rating-stars">
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <i class="fa-solid fa-star"></i>
      <span>(138)</span>
    </div>

    <div class="product__price">
      <h3>$89.00</h3>
    </div>

    <div class="product__customizing">
      <p>Choose a style</p>
      <div class="product__styles">
        <div class="black_style" style="margin-right: 8px;"></div>
        <div class="blue_style" style="margin-right: 8px;"></div>
        <div class="brown_style"></div>
      </div>
    </div>

    <div class="product__amount">
      <button class="btn-less"><i class="fa-solid fa-minus"></i></button>
      <span class="counter">0</span>
      <button class="btn-more"><span><i class="fa-solid fa-plus"></i></span></button>
    </div>

    <div class="buttons">

    </div>
  </div>

</div>
