
<div class="container__content">
  <section>
    <app-banner></app-banner>
  </section>

  <h4>Products for you!</h4>
  <!-- Container guardando todos os produtos -->
  <div class="container__products">
    <app-product-card
      id="1"
      style="margin-right: 26px;"
      image="../../../assets/img/headphone.png"
      name="Wireless Headphone, XYZ"
      description="A perfect high-fidelity audio for daily songs"
      price="$89.00"
      starsNumber="238"
    >
    </app-product-card>

    <app-product-card
      id="2"
      style="margin-right: 26px;"
      image="../../../assets/img/powerbank.png"
      name="Powerbank, ABC"
      description="Charge your phone anywhere"
      price="$42.00"
      starsNumber="218"
    >
    </app-product-card>

    <app-product-card
      id="3"
      style="margin-right: 26px;"
      image="../../../assets/img/keyboard.png"
      name="Wireless Keyboard, XXX"
      description="Typing was never such a good thing as now"
      price="$40.00"
      starsNumber="142"
    >
    </app-product-card>

    <app-product-card
      id="4"
      image="../../../assets/img/mousepad.png"
      name="Soft Mousepad, XYZ"
      description="A perfect mousepad for your daily clicks"
      price="$24.00"
      starsNumber="64"
    >
    </app-product-card>
  </div>
</div>

